PORT=3000
BACKEND_API_URL=http://localhost:8080
CORS_ALLOWED_ORIGINS=http://localhost:3001
NEXT_PUBLIC_DEV_PROXY_URL=http://localhost:3000
# NEXT_PUBLIC_API_URL=http://localhost:3000
# HARADAN_BE_DIR=../haradan-be
