//
// user-variables.scss
// Overwrites for Bootstrap and Dashui variables
//

$primary: #6366f1 !default;       // Modern Indigo
$primary-dark: #4f46e5 !default;  // Deep Indigo
$primary-light: #e0e7ff !default; // Soft Pastel Indigo

$font-family-base: 'Inter', system-ui, -apple-system, sans-serif !default;

